@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Pretendard", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#lemon_btn {
  background-image: url("./icon/lemonade.png"), radial-gradient(circle, transparent 0%, transparent 50%, #f1c40f 50%, #f1c40f 100%);
  background-size: 25%;
  background-repeat: repeat;
}
#grapefruit_btn {
  background-image: url("icon/grapefruitade.png"), radial-gradient(circle, transparent 0%, transparent 50%, #df6a1b 50%, #df6a1b 100%);
  background-size: 25%;
  background-repeat: repeat;
}
#green_grape_btn {
  background-image: url("./icon/grapeade.png"), radial-gradient(circle, transparent 0%, transparent 50%, #6EC030 50%, #6EC030 100%);
  background-size: 25%;
  background-repeat: repeat;
}
progress[value]::-webkit-progress-bar {
  border-radius: 10em;
}
progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: #f1c40f;
}
progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: #f1c40f;
}
